<div class="container mt-lg-5">
  <div *ngIf="cars?.length==0" class="alert alert-warning" role="alert">
    No Cars found.
  </div>
  <div class="row gy-5">
    <div *ngFor="let c of cars" class="col-sm">

        <div class="card" style="width: 18rem;">
          <a routerLink="/cars/{{c.id}}">
            <img class="card-img-top" src="/assets/images/cars/test.png" alt="Card image cap">
          </a>

          <div class="card-body">
            <h5 class="card-title">{{c.brand}}</h5>
            <p class="card-title">{{c.model}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{c.fuelType}}</li>
            <li class="list-group-item">{{c.gearType}}</li>
            <li class="list-group-item">DT <strong>{{c.dayPrice}}</strong> /DAY</li>
          </ul>
          <div class="card-footer">
            <a href="#" class="link-info">
              <i class="fa-solid fa-circle-info"></i>
            </a>
            <a routerLink="/update/car/{{c.id}}" class="link-primary m-lg-4">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a href="#" (click)="openPopup(c.id)" class="link-danger">
              <i class="fa-solid fa-trash"></i>
            </a>
            <a routerLink="/client/add" class="link-dark m-lg-4">Reserve</a>
          </div>
          <!-- Modal -->
          <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Delete Car</h4>
                </div>
                <div class="modal-body">
                  <p><strong>Are you sure you want to delete this car ?</strong></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="closePopup()">Close</button>
                  <button type="button" class="btn btn-danger" (click)="deleteCar()">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

</div>





