<div class="container mt-lg-5">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Client Name</th>
      <th scope="col">Car Brand</th>
      <th scope="col">Date Request</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>

      <tr *ngFor="let loc of location">
        <th scope="row">{{loc.id}}</th>
        <td>{{loc.user.username.valueOf()}}</td>
        <td>{{loc.car.brand}} {{loc.car.model}}</td>
        <td>{{loc.startDate}} - {{loc.endDate}}</td>
        <td>
          <div *ngIf="loc.status == 'In progress'">
            <a href="">approve</a>
            <a href="">reject</a>
          </div>
          <div *ngIf="loc.status != 'In progress'">
            {{loc.status}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

